@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 33 100% 98%;
        /* orange-50: #fff7ed */
        --foreground: 222 47% 11%;

        --card: 0 0% 100%;
        --card-foreground: 222 47% 11%;

        --popover: 0 0% 100%;
        --popover-foreground: 222 47% 11%;

        --primary: 24 94% 50%;
        /* orange-600: #ea580c */
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 45 93% 47%;
        /* amber-500: #f59e0b */
        --secondary-foreground: 26 83.3% 14.1%;

        --muted: 33 96% 85%;
        /* orange-100 */
        --muted-foreground: 24 9.8% 10%;

        --accent: 24 94% 50%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 33 96% 75%;
        /* orange-200 */
        --input: 33 96% 75%;
        --ring: 24 94% 50%;

        --radius: 1rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --primary: 24 94% 50%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 94% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}